<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.avans.ras"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="nl.avans.ras.activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.avans.ras.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/login_title" />
        
        <activity 
            android:name="nl.avans.ras.activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/profile_title" />
        
        <activity
            android:name="nl.avans.ras.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/settings_title" />
        
        <activity 
            android:name="nl.avans.ras.activities.VaultActivity"
            android:screenOrientation="portrait"
            android:label="@string/vault_title" />
        
        <activity 
            android:name="nl.avans.ras.activities.CompareActivity"
            android:screenOrientation="portrait"
            android:label="@string/compare_title" />
        
        <activity 
            android:name="nl.avans.ras.activities.ChartActivity"
            android:label="@string/chart_title" />
        
    </application>

</manifest>
